

.todo-list-view {
  height: 100%;
  width: 100%;
  border: 1px solid #808080;
  border-radius: 6px;
  overflow-y: auto;
  .todo-item + .todo-item {
    border-top:1px solid #e0e0e0;
  }

}

.todo-list-view {
  margin-top: 12px;
}