@font-face {
  font-family: 'MyFont';
  src: url('@assets/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('@assets/fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}