@font-face {
  font-family: 'MyFont';
  src: url('@assets/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('@assets/fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


.hello {
  color: red;
  font-family: 'MyFont';
  background: url('@assets/images/millie.png');
  font-size: 36px;
}

.header-inner {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.text {
  font-family: 'MyFont';
}



.content-view {
  display: flex;
  background-color: blue;
  flex-direction: row;
  width: 100%;
  height: 600px;
}

.content-view .left-view {
  flex: 1;
}

.content-view .right-view {
  flex: 1;
}